body {
    text-align: center;
    font-family: "Times New Roman";
    background-color: lightgrey;
    font-size: 50pt;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    line-height: 2.5;
    word-spacing: 3px;
    text-shadow: 3px 2px orange;
    height: 400px;
}

img {
    width: 25%;
    display: block;
    margin: auto;
}

.float-right-area {
		  width: 30%;
		  float: right;
		  }


.inner-right	  {
		  font-size: 6pt;
		  font-family: serif;
		  padding: 5px 5px 5px 5px;
		  border: black 1px solid;
		  min-height: 60px;
		  text-shadow: none;
		  font-style: normal;
		  letter-spacing: 1px;
		  background-color: orange;
}

.clear-floated	  { clear: both; height: 1px; font-size: 1px; line-height: 1px; padding: 0; margin: 0; }

h2 {
    font-family: inherit;
    font-size: 20pt;
    text-shadow: none;
    font-style: oblique;
    text-decoration: none;
    text-align: left;
}